* {
    margin: 0;
}
.signup {
    display: flex;
}
.content {
    width: 100%;
    height: 100%;
}

.img-top>img {
    width: 550px;
    height: 100vh;
}
h1{
    text-align: center;
    margin-top: 8%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    margin-top: 10px;
    font-size: 15px;
}

form>div {
    margin-top: 20px;
}

form>div>p {
    font-style: normal;
    line-height: 30px;
}

form>div>label>input {
    background-color: #EFF0F2;
    border: none;
    padding-left: 20px;
    width: 550px;
    height: 40px;
}

.action-btn {
    margin-top: 28px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.action-btn>button {
    width: 100%;
    font-size: 22px;
    height: 40px;
    background-color: #007074;
    box-sizing: border-box;
    border: none;
    color: white;
}

.action-btn>p>a {
    color: blue;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.footer>p {
    text-align: center;
    font-size: 24px;
}

.signin-option {
    position: relative;
    margin-top: 10px;
}

.signin-option>button {
    width: 180px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px;
    border: solid #D2D2D2;
    background-color: white;
}

.signin-option>.btnleft {
    position: absolute;
    left: 0;
}

.signin-option>.btn-right {
    position: absolute;
    right: 0;
}

.signin-option>button>img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}